name: Semgrep

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "17 3 * * 1"

jobs:
  semgrep:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci
          generateSarif: false
        env:
          SEMGREP_RULES: p/ci
